// # Variables globales du projet */

// Suffixées par ` !default`.

// Ces variables seront utilisées de nombreuses fois, aussi elles portent des noms qui restent compréhensible mais qui sont le plus court possible.
//
// L’unité qui fait référence pour s’entendre avec la partie graphique reste le pixel. Aussi, sur la partie configuration, toutes les variables (sauf exception) doivent être exprimées avec cette unité.
//
// Il est conseillé ensuite de transformer les valeurs en pixels : em, rem ou %. (Par défaut, c’est le em qui est utilisé.) Pour cela des fonctions sont proposées.

// # Préfixes des classes générées


// Ces classes sont ajoutées devant les sélecteurs.
//
// - `smash` correspond à la bibliothèque.
// - `xx` correspond à votre projet (et doit être configuré).

// (Il est possible de sortir de cette encapsulation avec `@at-root{}`.)

$smash-prefix-framework: 'smash' !default;
$smash-prefix-project:   'xx'    !default;

// # Modèle de boîte

$smash-box-sizing: false !default;

// # Unité préférée pour les calculs

// `em`, `rem`, `pt` ou `px`.

// (`pt` et `px` n’ont ici qu’un intêret très limité.)

$smash-prefered-unit: 'em' !default;

// # Configuration de _Sass-mq_

// https://github.com/sass-mq/sass-mq

// Il faut penser à configurer la grille et le _plugin_ #grid en fonction des choix réalisés ici (et qui seront propres au projet).

$mq-breakpoints: (
    mobile:  320px,
    tablet:  740px,
    desktop: 980px,
    wide:    1300px
);

  // $mq-show-breakpoints: (mobile, tablet, desktop, wide);

// # Grille

// - `$smash-gutter` : largeur des gouttières ;
// - `$smash-col` : largeur des colonnes ;
// - `$smash-cols-desktop` : nombre de colonnes en _desktop_ ;
// - `$smash-external-gutters` : gouttières externes (ne fonctionne pas avec les grilles fluides et les gouttières fluides) ;
// - `$smash-fluid-gutter-fixed` : gouttières des grilles fluides de largeurs fixes (ne fonctionne pas sous IE7-).

// http://gridcalculator.dk/#/936/10/24/0

// http://fr.wikipedia.org/wiki/Nombre_hautement_compos%C3%A9

$smash-gutter:              24px !default;
$smash-col:    $smash-gutter * 3 !default;
$smash-cols-desktop:          10 !default;
$smash-external-gutters:   false !default;
$smash-fluid-gutter-fixed: false !default;

// # Palette de couleurs

// Pour donner un nom aux couleurs : http://chir.ag/projects/name-that-color/

$smash-green: #0F0         !default;
$smash-debug: $smash-green !default;

// # Typographie

// - `$smash-bfs` : _font-size_ navigateur ;
// - `$smash-fs0` : _font-size_ projet.

$smash-bfs:       16px !default;
$smash-fs0: $smash-bfs !default;

// - `$smash-ratios` : des ratios basés sur les intervalles musicaux utilisés à différents endroits du projet.

$smash-ratios:(
  double-octave:    1/4,         // 0.25
  major-twelfth:    1/3,         // 0.3333
  major-eleventh:   3/8,         // 0.375
  major-tenth:      2/5,         // 0.4
  octave:           1/2,         // 0.5
  major-seventh:    8/15,        // 0.5333
  minor-seventh:    9/16,        // 0.5625
  major-sixth:      3/5,         // 0.6
  golden:           1/1.618,     // 0.6180
  minor-sixth:      5/8,         // 0.625
  fifth:            2/3,         // 0.6666
  augmented-fourth: 1/1.4142135, // 0.7071 (1/√2)
  fourth:           3/4,         // 0.75
  major-third:      4/5,         // 0.8
  minor-third:      5/6,         // 0.8333
  major-second:     8/9,         // 0.8888
  minor-second:     15/16,       // 0.9375
  prime:            1/1          // 1
) !default;

// - `$smash-lh` : hauteur de ligne.

$smash-lh: round($smash-fs0 / map-get($smash-ratios, fifth)) !default;

// # Échelles typographiques

// - `$smash-ratio` : le ratio choisi pour les calculs ;
// - `$smash-number1` : le nombre important principal ;
// - `$smash-number2` : le nombre important secondaire ;
// - `$smash-offset` : le décalage inital sur les échelles.

$smash-ratio: map-get($smash-ratios, fifth) !default;
$smash-number1: $smash-fs0 * 1 !default;
$smash-number2: $smash-fs0 * 2 !default;
$smash-offset:            0 !default;

// # Déclarations des images spritées

// http://pioupioum.fr/compass-sauvez-integrateur/sprites.html */

 //$smash-exemple-layout: vertical;
 //$smash-exemple-spacing: 32px;

 //@import 'bg/exemple/*.png';

// Utilisation dans vos fichiers avec par exemple :
//
// - `@include exemple-sprite(image);` ou
// - `@include exemple-sprite(image, $smash-offset-x:100%);`.

// # Font awesome

$fa-font-path: '../../../fonts';

// # Formulaires

$smash-form-padding:        6px !default;
$smash-form-border-width:   1px !default;
$smash-form-border-radius:  3px !default;
$smash-form-inset-width:    2px !default;
$smash-form-arrow-width:    6px !default;
$smash-form-arrow-spacing:  1px !default;
$smash-form-ico-width:     40px !default;        // >= 30px
$smash-form-line-height:    $smash-lh !default;
$smash-form-background:          #fff !default;
$smash-form-background-hover: #fafafa !default;
$smash-form-border-color:        #000 !default;
$smash-form-color:               #000 !default;
$smash-form-color-focus:         #000 !default;
$smash-form-color-valid:      #008000 !default;
$smash-form-color-error:         #F00 !default;
