/// Styles de la documentation
 //
 // La documenation fournis par défaut un certains nombre de styles de base.
 //
 // De manière générale, tous les style appliqués repose sur des classes
 // préfixées par `ca__` pour limiter d'éventuel conflits avec des styles
 // tiers utilisés.
 //
 // Styleguide documentation

///  Colors
 //
 // Set of colors available in the documentation
 //
 // $font-color         - \#000
 // $bg-color           - \#FFF
 // $code-bg-color      - \#DEDEDE
 // $table-border-color - \#333
 // $table-header-color - \#DEDEDE
 // $sperator-color     - \#CCC
 //
 // Styleguide documentation.colors
$font-color        : #000;
$bg-color          : #FFF;
$code-bg-color     : #DEDEDE;
$table-border-color: #333;
$table-header-color: #DEDEDE;
$sperator-color    : #CCC;
$menu-bg-color     : #EFEFEF;


// ----------------------------------------------------------------------------
// STYLES
// ----------------------------------------------------------------------------

.ca__ {
  display: flex;
  height: 100%;

  padding: 0;
  margin:  0;

  font:  1rem/1.4rem sans-serif;
  color: $font-color;

  background: $bg-color;

  flex-direction: column;
  }

.ca__header {
  font-size: 1.5rem;
  font-weight: normal;
  font-variant: small-caps;
  padding: 1rem .5rem .5rem;
  margin: 0;
  border-bottom: 1px solid $sperator-color;
  }
.ca__header__logo {
  height: 1rem;
  width: auto;
  margin-right: .5em;
  }
.ca__header__link {
  color:inherit;
  text-decoration: none;

  &:hover, &:active {
    text-decoration: underline;
  }
  }

.ca__page {
  display: flex;

  flex: 1;
  }

.ca__menu {
  flex      : none;
  background: $menu-bg-color;
  }
.ca__menu__list {
  list-style: none;
  padding   : 0;
  margin    : 0;

  .ca__menu__list .ca__menu__link {
    font-size: .8rem;
    padding  : .3rem 1rem;
    }
  }
.ca__menu__list__item {
  padding: 0;
  }
.ca__menu__reference {
  min-width: 1rem;
  }
.ca__menu__link {
  display        : block;
  line-height    : 1rem;
  padding        : 1rem .5rem .3rem;
  color          : lighten($font-color, 75%);
  text-decoration: none;
  }
.ca__menu__link-highlight {
  font-weight: bold;
  color      : $font-color;
  }
.ca__menu__link:hover {
  color: $font-color;
  text-decoration: underline;
  }

.ca__main {
  flex: 1;
  padding: 1rem;

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }
  }
.ca__main__section {
  &:first-child > *:first-child {
    margin-top: 0;
  }

  &:last-child  > *:last-child {
    margin-bottom: 0;
  }
  }

.ca__title__link {
  color          : inherit;
  text-decoration: none;
  }

.ca__example {
  border : 1px solid $sperator-color;
  padding: .5rem;
  }
.ca__example__head {
  display      : block;
  padding      : .5rem;
  margin       : -.5rem -.5rem .5rem;
  border-bottom: 1px solid $sperator-color;
  background   : $code-bg-color;

  + .ca__example__markup {
    margin-top: 0;
  }
  }
.ca__example__title {
  font-style: normal;
  font-weight: bold
  }
.ca__example__title:after {
  content: ' :'
  }
.ca__example__markup {
  margin: .5rem 0;
  }
.ca__example__markup:last-child {
  margin-bottom: 0;
  }

.ca__table_container {
  overflow:  auto;
  border: 1px solid $table-border-color;
  }
.ca__table {
  font-size      : .9rem;
  border-spacing : 0;
  border-collapse: collapse;
  width          : 100%;
  min-width      : 40em;

  th {
    padding        : .4em .5em .3em;
    background     : $table-header-color;
    border-bottom  : 1px solid $table-border-color;
    border-right   : 1px solid $table-border-color;

    &:last-child {
      border-right: none;
    }
  }

  td {
    padding        : .4em .5em .3em;
    text-align     : center;
    border-bottom  : 1px solid $table-border-color;
    border-right   : 1px solid $table-border-color;

    &:last-child {
      border-right: none;
    }
  }

  tbody tr:last-child th, tbody tr:last-child td {
    border-bottom : none;
  }

  p {
    margin: 0;

    + p {
      margin-top: 1em;
    }
  }
  .ca__table__head--left,
  .ca__table__data--left {
    text-align: left;
  }
  }
