// # Styles dédiés pour IE 8 et inférieurs

// - Support de IE<=8 activé.
// - Support de l’unité `rem` désactivé.
// - Support des _medias-queries_ désactivé.
// - Support de _flexbox_ désactivé. // IE10+

// Note : Il est possible de ne changer que la première des valeurs, les autres sont répercutées automatiquement.

$smash-lte-ie8: true !default;

$mq-responsive: not $smash-lte-ie8 !default;
$smash-rem:     not $smash-lte-ie8 !default;
$smash-flexbox: not $smash-lte-ie8 !default;

// # Import des partiels

@import 'framework/core/imports';
