// # Styles dédiés aux démonstrations pour IE 8 et inférieurs

// - Support de IE<=8 désactivé.
// - Support de l’unité `rem` activé.
// - Support des _medias-queries_ activé.
// - Support de _flexbox_ activé. // IE10+

// Note : Il est possible de ne changer que la première des valeurs, les autres sont répercutées automatiquement.

$smash-lte-ie8: true !default;

$mq-responsive: not $smash-lte-ie8 !default;

$smash-rem:     not $smash-lte-ie8 !default;
$smash-flexbox: not $smash-lte-ie8 !default;

// # Import des partiels

@import '../core/imports';

.#{$smash-prefix-framework} {
  @import '../core/form';
}

// # Import des règles spécifiques aux démonstrations

// Préfixées par `.demo`.

.demo {
  @import 'demo/echelles';
  @import 'demo/flexbox';
  @import 'demo/grille-fixe';
  @import 'demo/grille-flexbox';
  @import 'demo/grille-fluide';
  @import 'demo/grille-inline-block';
  @import 'demo/size';
  @import 'demo/formulaires';
}
