// # Contenu masqué visuellement (et les versions surchargées)

&-visually {
  &-hidden {
    @include smash-visually-hidden;

    &-i {
      @include smash-visually-hidden-i;
    }
  }

  &-visible {
    @include smash-visually-visible;

    &-i {
      @include smash-visually-visible-i;
    }
  }
}

// # Liens de navigation « invisibles »

// Les liens seront visible au focus.

//  	<ul class="smash-list smash-list-float smash-a11y">
//  		<li><a href="#">Lorem</a></li>
//  		<li><a href="#">Ipsum</a></li>
//  		<li><a href="#">Dolor</a></li>
//  	</ul>

&-a11y {
  a {
    @include smash-visually-hidden;

    &:hover,
    &:focus {
      @include smash-visually-visible;
    }
  }
}
