// # Marges externes (et les versions surchargées)

//Les marges restent basées sur le rythme vertical de la page. Une unité équivaut donc à une « ligne ».

//  <p class="smash-mb2">Lorem ipsum dolor</p>
//    <p>Lorem ipsum dolor</p>

.margin-top,
.mt,
.mt1 {
  margin-top: smash-size($smash-lh, null, $smash-fs0);

  &-auto {
    margin-top: auto;

    &-i {
      margin-top: auto !important;
    }
  }
}

.margin-left,
.ml,
.ml1 {
  margin-left: smash-size($smash-gutter, null, $smash-fs0);

  &-auto {
    margin-left: auto;

    &-i {
      margin-left: auto !important;
    }
  }
}

.margin-right,
.mr,
.mr1 {
  margin-right: smash-size($smash-gutter, null, $smash-fs0);

  &-auto {
    margin-right: auto;

    &-i {
      margin-right: auto !important;
    }
  }
}

.margin-bottom,
.mb,
.mb1 {
  margin-bottom: smash-size($smash-lh, null, $smash-fs0);

  &-auto {
    margin-bottom: auto;

    &-i {
      margin-bottom: auto !important;
    }
  }
}

.margin,
.m,
.m1 {
  margin: smash-size($smash-lh, null, $smash-fs0) smash-size($smash-gutter, null, $smash-fs0);

  &-auto {
    margin: auto;

    &-i {
      margin: auto !important;
    }
  }
}

.margin-top-half,
.mt05 {
  margin-top: smash-size($smash-lh / 2, null, $smash-fs0);
}

.margin-left-half,
.ml05 {
  margin-left: smash-size($smash-gutter / 2, null, $smash-fs0);
}

.margin-right-half,
.mr05 {
  margin-right: smash-size($smash-gutter / 2, null, $smash-fs0);
}

.margin-bottom-half,
.mb05 {
  margin-bottom: smash-size($smash-lh / 2, null, $smash-fs0);
}

.margin-half,
.m05 {
  margin: smash-size($smash-lh / 2, null, $smash-fs0) smash-size($smash-gutter / 2, null, $smash-fs0);
}

.margin-top-double,
.mt2 {
  margin-top: smash-size($smash-lh * 2, null, $smash-fs0);
}

.margin-left-double,
.ml2 {
  margin-left: smash-size($smash-gutter * 2, null, $smash-fs0);
}

.margin-right-double,
.mr2 {
  margin-right: smash-size($smash-gutter * 2, null, $smash-fs0);
}

.margin-bottom-double,
.mb2 {
  margin-bottom: smash-size($smash-lh * 2, null, $smash-fs0);
}

.margin-double,
.m2 {
  margin: smash-size($smash-lh * 2, null, $smash-fs0) smash-size($smash-gutter * 2, null, $smash-fs0);
}

// # Marges internes

// Les marges restent basées sur le rythme vertical de la page. Une unité équivaut donc à une « ligne ».

//    <p class="pl05">Lorem ipsum dolor</p>

.padding-top,
.pt,
.pt1 {
  padding-top: smash-size($smash-lh, null, $smash-fs0);
}

.padding-left,
.pl,
.pl1 {
  padding-left: smash-size($smash-gutter, null, $smash-fs0);
}

.padding-right,
.pr,
.pr1 {
  padding-right: smash-size($smash-gutter, null, $smash-fs0);
}

.padding-bottom,
.pb,
.pb1 {
  padding-bottom: smash-size($smash-lh, null, $smash-fs0);
}

.padding,
.p,
.p1 {
  padding: smash-size($smash-lh, null, $smash-fs0) smash-size($smash-gutter, null, $smash-fs0);
}

.padding-top-half,
.pt05 {
  padding-top: smash-size($smash-lh / 2, null, $smash-fs0);
}

.padding-left-half,
.pl05 {
  padding-left: smash-size($smash-gutter / 2, null, $smash-fs0);
}

.padding-right-half,
.pr05 {
  padding-right: smash-size($smash-gutter / 2, null, $smash-fs0);
}

.padding-bottom-half,
.pb05 {
  padding-bottom: smash-size($smash-lh / 2, null, $smash-fs0);
}

.padding-half,
.p05 {
  padding: smash-size($smash-lh / 2, null, $smash-fs0) smash-size($smash-gutter / 2, null, $smash-fs0);
}

.padding-top-double,
.pt2 {
  padding-top: smash-size($smash-lh * 2, null, $smash-fs0);
}

.padding-left-double,
.pl2 {
  padding-left: smash-size($smash-gutter * 2, null, $smash-fs0);
}

.padding-right-double,
.pr2 {
  padding-right: smash-size($smash-gutter * 2, null, $smash-fs0);
}

.padding-bottom-double,
.pb2 {
  padding-bottom: smash-size($smash-lh * 2, null, $smash-fs0);
}

.padding-double,
.p2 {
  padding: smash-size($smash-lh * 2, null, $smash-fs0) smash-size($smash-gutter * 2, null, $smash-fs0);
}

// # Bordures

//    <p>Lorem ipsum dolor</p>
//    <p class="border-bottom border-top">Lorem ipsum dolor</p>

// Le décalage sur le rythme vertical provoqué par la bordure est corrigé par la marge négative.
// Le décalage visuel provoqué par la marge négative est annulé par le positionnement.

.border-top,
.bt {
  border-top-width:    1px;
  margin-top:         -1px;
  border-top-style:  solid;

  &.#{$smash-prefix-framework}-border-bottom,
  &.#{$smash-prefix-framework}-bb {
    margin-top:       -2px;
  }
}

.border-bottom,
.bb {
  border-bottom-width:   1px;
  margin-top:           -1px;
  top:                   1px;
  border-bottom-style: solid;
  position: relative;
}

.border-left,
.bl {
  border-left-width:     1px;
  margin-left:          -1px;
  border-left-style:   solid;

  &.#{$smash-prefix-framework}-border-right
  &.#{$smash-prefix-framework}-br {
    margin-left:        -2px;
  }
}

.border-right,
.br {
  border-right-width:    1px;
  margin-left:          -1px;
  left:                  1px;
  border-right-style:  solid;
  position: relative;
}

.border,
.b {
  border-width:      1px;
  margin-top:       -2px;
  margin-left:      -2px;
  top:               1px;
  left:              1px;
  border-style:    solid;
  position: relative;
}

// # Remise à zero (et les versions surchargées)

// Les classes existent en versions complètes et en versions abrégées.
// La logique Emmet est reprise : http://docs.emmet.io/css-abbreviations/

// # Marges externes (et les versions surchargées)

//    <p class="smash-mb0">Lorem ipsum dolor</p>

.margin-top-0,
.mt0 {
  margin-top: 0;

  &-i {
    margin-top: 0 !important;
  }
}

.margin-bottom-0,
.mb0 {
  margin-bottom: 0;

  &-i {
    margin-bottom: 0 !important;
  }
}

.margin-left-0,
.ml0 {
  margin-left: 0;

  &-i {
    margin-left: 0 !important;
  }
}

.margin-right-0,
.mr0 {
  margin-right: 0;

  &-i {
    margin-right: 0 !important;
  }
}

.margin-0,
.m0 {
  margin: 0;

  &-i {
    margin: 0 !important;
  }
}

// # Marges internes (et les versions surchargées)

//    <ul class="smash-padding-left-0">
//      <li>Lorem ipsum dolor</li>
//    </ul>

.padding-top-0,
.pt0 {
  padding-top: 0;

  &-i {
    padding-top: 0 !important;
  }
}

.padding-bottom-0,
.pb0 {
  padding-bottom: 0;

  &-i {
    padding-bottom: 0 !important;
  }
}

.padding-left-0,
.pl0 {
  padding-left: 0;

  &-i {
    padding-left: 0 !important;
  }
}

.padding-right-0,
.pr0 {
  padding-right: 0;

  &-i {
    padding-right: 0 !important;
  }
}

.padding-0,
.p0 {
  padding: 0;

  &-i {
    padding: 0 !important;
  }
}

// # Bordures (et les versions surchargées)

//    <input class="smash-border-0" type="text" />

.border-top-0,
.bt0 {
  border-top: 0;

  &-i {
    border-top: 0 !important;
  }
}

.border-bottom-0,
.bb0 {
  border-bottom: 0;

  &-i {
    border-bottom: 0 !important;
  }
}

.border-left-0,
.bl0 {
  border-left: 0;

  &-i {
    border-left: 0 !important;
  }
}

.border-right-0,
.br0 {
  border-right: 0;

  &-i {
    border-right: 0 !important;
  }
}

.border-0,
.b0 {
  border: 0;

  &-i {
    border: 0 !important;
  }
}

// # L’ensemble (et la version surchargée)

//    <ol class="smash-reset">
//      <li>Lorem ipsum dolor</li>
//    </ol>

&-reset {
  @include smash-reset;

  &-i {
    @include smash-reset-i;
  }
}

// # Hauteurs (et les versions surchargées)

// Les hauteurs restent basées sur le rythme vertical de la page. Dix unités équivales donc à une « ligne ».

//    <p class="smash-h2">Lorem ipsum dolor</p>
//    <p>Lorem ipsum dolor</p>

$smash-i: 10 * 4;

@while $smash-i > 0 {
  $smash-j: $smash-i;

  @if $smash-i % 10 == 0 {
    $smash-j: $smash-i / 10;
  }

  @if $smash-i == 5 {
    $smash-j: '0' + $smash-i;
  }

  &-h-#{$smash-j} {
    height: $smash-i / 10 * smash-size($smash-lh);

    &-i {
      height: $smash-i / 10 * smash-size($smash-lh) !important;
    }

    &-min {
      min-height: $smash-i / 10 * smash-size($smash-lh);

      &-i {
        min-height: $smash-i / 10 * smash-size($smash-lh) !important;
      }
    }
  }

  $smash-i: $smash-i - 5;
}
