// # Grille verticale

&-grid {

// # Conteneur principal

//  <div class="smash-grid-container">
//    <p>Lorem ipsum dolor</p>
//  </div>

  &-container {
    margin-left:  auto;
    margin-right: auto;

    @if $smash-external-gutters {
      padding: 0 smash-size($smash-gutter);
    }

    width: smash-size(smash-grid-cols-width($smash-cols-desktop));

    @if $smash-external-gutters and $smash-box-sizing {
      width: smash-size(smash-grid-cols-width($smash-cols-desktop) + $smash-gutter * 2);
      padding-left:  0;
      padding-right: 0;
    }
  }

// # Utilitaires

// - `.smash-grid-col` : demi-gouttières extenes (qui par adjacences deviennent gouttières pleines) ;
// - `.smash-grid-inside` : demi-gouttières internes (qui par adjacences deviennent gouttières pleines) ;
// - `.smash-grid-adjust` : marges négatives pour annuler les demi-gouttières externes.

//    <div class="smash-grid grid_adjust">
//      <div class="smash-grid-col">Lorem ipsum</div>
//      <div class="smash-grid-col">Lorem ipsum</div>
//    </div>

  &_inside {
    padding-left:  smash-size($smash-gutter / 2);
    padding-right: smash-size($smash-gutter / 2);
  }

  &_adjust {
    margin-left:  smash-size($smash-gutter / -2);
    margin-right: smash-size($smash-gutter / -2);
  }

  &_col {
    margin-right: smash-size($smash-gutter / 2);
    margin-left:  smash-size($smash-gutter / 2);
  }

// # Colonnes

// Format générique : `.smash-grid-col-3`.

//    <div class="smash-grid smash-grid-adjust">
//      <div class="smash-grid-col smash-grid-col-3">Lorem ipsum dolor</div>
//      <div class="smash-grid-col smash-grid-col-3">Lorem ipsum dolor</div>
//    </div>

  @for $smash-i from 1 through $smash-cols-desktop {
    &_col-#{$smash-i} {
      width: smash-size(smash-grid-cols-width($smash-i));
    }
  }

// # Colonnes via inline-block

// Format générique : `.smash-grid-inline-block-auto-3`.

// Note : les imbications ne sont pas générées par défaut mais il est possible de les gérer.

//    <div class="smash-grid smash-grid-inline-block-auto-3">
//      <div>Lorem ipsum dolor</div>
//      <div>Lorem ipsum dolor</div>
//      <div>Lorem ipsum dolor</div>
//    </div>

  @for $smash-i from 1 through $smash-cols-desktop {
    &-inline-block-auto-#{$smash-i} {
      > * {
        width: smash-grid-col-width($smash-i);
      }
    }
  }

// # Colonnes via flexbox

// http://www.alsacreations.com/tuto/lire/1659-une-grille-responsive-avec-flexbox-et-LESS.html

// Note : la possibilité de générer des grilles avec moins de colonnes (et donc des colonnes plus larges) est commentée, elle génère par défaut trop de code inutilisé.

//    <div class="smash-grid-flex">
//      <div class="smash-grid-flex_span-4">Lorem ipsum dolor</div>
//      <div class="smash-grid-flex_span-2">Lorem ipsum dolor</div>
//    </div>

  @if $smash-flexbox {
    &-flex {
      @include smash-grid-flex;

      display: flex;
      flex-wrap: wrap;
      flex-direction: row;

      margin-left: smash-size($smash-gutter) * -1;

      > * {
        display: block; // IE

        box-sizing: border-box;

        border-left: smash-size($smash-gutter) solid transparent;
        background-clip: padding-box;
      }

//    @for $smash-i from 1 through $smash-cols-desktop {
//      &-flex-#{$smash-i} {
//        @include smash-grid-flex($smash-i);
//      }
//    }
    }
  }
}
