// # Tableaux

&-table {

// # Mise en forme

//    <table class="smash-table-fixed smash-w-100p">
//      <tr>
//        <td>Lorem ipsum dolor.</td>
//        <td>Lorem ipsum dolor. Lorem ipsum dolor. Lorem ipsum dolor.</td>
//      </tr>
//    </table>

  &-auto {
    table-layout: auto;
  }

  &-fixed {
    table-layout: fixed;
  }

// # Bordures

//    <table class="smash-table-border">
//      <tr>
//        <td>Lorem ipsum dolor</td>
//        <td>Lorem ipsum dolor</td>
//      </tr>
//      <tr>
//        <td>Lorem ipsum dolor</td>
//        <td>Lorem ipsum dolor</td>
//      </tr>
//    </table>

  &-border {
    td,
    th {
      border: 1px solid;
    }

    &.#{$smash-prefix-framework}-table {
      > * {
        > * {
          border: 1px solid;
        }
      }
    }
  }

// # Fusion des bordures

//    <table class="smash-table-border smash-table-separate">
//      <tr>
//        <td>Lorem ipsum dolor</td>
//        <td>Lorem ipsum dolor</td>
//      </tr>
//      <tr>
//        <td>Lorem ipsum dolor</td>
//        <td>Lorem ipsum dolor</td>
//      </tr>
//    </table>
//    <table class="smash-table-border smash-table-collapse">
//      <tr>
//        <td>Lorem ipsum dolor</td>
 //       <td>Lorem ipsum dolor</td>
//      </tr>
//      <tr>
//        <td>Lorem ipsum dolor</td>
//        <td>Lorem ipsum dolor</td>
//      </tr>
//    </table>

  &-separate {
    border-collapse: separate;
  }

  &-collapse {
    border-collapse: collapse;
  }

  &_caption.#{$smash-prefix-framework}-table_caption {
    display: table-caption;

    &-bottom {
      caption-side: bottom;
    }
  }
}
