// # Alignements

//    <p class="smash-text-center">Lorem ipsum dolor sit amet.</p>

&-text {
  &-center {
    text-align: center;
    hyphens: none;
  }

  &-left {
    text-align: left;
    hyphens: none;
  }

  &-right {
    text-align: right;
    hyphens: none;
  }

  &-justify {
    text-align: justify;
    hyphens: auto;
  }

// # Transformations

//    <p class="smash-text-uppercase">Lorem ipsum dolor sit amet.</p>

  &-none {
    text-transform: none;
  }

  &-lowercase {
    text-transform: lowercase;
  }

  &-uppercase {
    text-transform: uppercase;
  }

  &-capitalize {
    text-transform: capitalize;
  }
}

// # Gestion des blancs

//    <p class="smash-pre">Lorem ipsum
//    dolor sit amet.</p>

&-wrap {
  white-space: normal;
}

&-nowrap {
  white-space: nowrap;
}

&-pre {
  white-space: pre;
}

// # Débordements

//    <div class="smash-grid-col-1">
//      <p class="smash-overflow-hidden smash-ellipsis">Loremipsumdolorsitamet.</p>
//    </div>

&-ellipsis {
  text-overflow: ellipsis;
}

// # Emphases

//    <p class="smash-bold smash-italic">Lorem ipsum dolor sit amet.</p>

&-normal {
  font-weight: normal;
  font-style:  normal;
}

&-bold {
  font-weight: bold;
}

&-italic {
  font-style: italic;
}

&-caps {
  font-variant: small-caps;
}
