// # Utilitaires

// # _Displays_

//    <p class="smash-inline">Lorem ipsum</p>

//    <div class="smash-table smash-table-border">
//      <div>
//        <div>Lorem</div>
//        <div>Ipsum</div>
//      </div>
//      <div>
//        <div>Dolor</div>
//        <div>Sit amet</div>
//      </div>
//    </div>

&-block {
  display: block;
}

&-inline {
  display: inline;
}

&-inline-block {
  display: inline-block;
}

&-none,
&-hidden { // IE <= 7
  display: none;
}

&-table {
  display: table;
  border-collapse: collapse;

  > * {
    display: table-row;

    > * {
      display: table-cell;
    }
  }
}

&-flex {
  display: flex;
}

// # Impression

&-print {
  &-block,
  &-inline,
  &-inline-block,
  &-table,
  &-flex {
    display: none;
  }
}

// # Alignements verticaux

// Note : on peut appliquer la classe sur les tableaux CSS.

//    <p>
//      <span class="smash-inline-block smash-valign-middle">Lorem ipsum dolor</span>
//      <span class="smash-inline-block smash-valign-middle">Lorem ipsum<br />dolor</span>
//    </p>

&-valign {
  &-top {
    vertical-align: top;

    &.#{$smash-prefix-framework}-table {
      > * {
        > * {
          vertical-align: top;
        }
      }
    }
  }

  &-bottom {
    vertical-align: bottom;

    &.#{$smash-prefix-framework}-table {
      > * {
        > * {
          vertical-align: bottom;
        }
      }
    }
  }

  &-middle {
    vertical-align: middle;

    &.#{$smash-prefix-framework}-table {
      > * {
        > * {
          vertical-align: middle;
        }
      }
    }
  }

  &-baseline {
    vertical-align: baseline;

    &.#{$smash-prefix-framework}-table {
      > * {
        > * {
          vertical-align: baseline;
        }
      }
    }
  }
}

// # Débordements

//    <div class="smash-overflow-scroll" style="height:120px">
//      <p>
//        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor. Praesent et diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia consectetur. Donec ut libero sed arcu vehicula ultricies a non tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut gravida lorem. Ut turpis felis, pulvinar a semper sed, adipiscing id dolor. Pellentesque auctor nisi id magna consequat sagittis. Curabitur dapibus enim sit amet elit pharetra tincidunt feugiat nisl imperdiet. Ut convallis libero in urna ultrices accumsan. Donec sed odio eros. Donec viverra mi quis quam pulvinar at malesuada arcu rhoncus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In rutrum accumsan ultricies. Mauris vitae nisi at sem facilisis semper ac in est.
//      </p>
//    </div>

&-overflow {
  &-hidden {
    overflow: hidden;

    &-x {
      overflow-x: hidden;
    }

    &-y {
      overflow-y: hidden;
    }
  }

  &-visible {
    overflow: visible;
  }

  &-auto {
    overflow: auto;
  }

  &-scroll {
    overflow: scroll;
  }

  &-wrap {
    overflow-wrap: break-word;
    word-wrap: break-word;
  }
}

// # Positionnement

//    <p>
//      <img src="http://maquettes.garden.clever-age.net/img/120/000/fff" alt="" class="smash-center" />
//    </p>

&-center {
  margin-left:  auto;
  margin-right: auto;
}

//    <p>
//      <img src="http://maquettes.garden.clever-age.net/img/120/000/fff" alt="" class="smash-left" />
//    </p>

&-left {
  margin-right: auto;
}

//    <p>
//      <img src="http://maquettes.garden.clever-age.net/img/120/000/fff" alt="" class="smash-right" />
//    </p>


&-right {
  margin-left: auto;
}

// # Étirements

//    <div style="position: relative; height: 120px">
//      <div class="smash-stretch" style="background-color: #000"></div>
//    </div>

&-stretch {
  @include smash-stretch;

  &-super {
    @include smash-stretch(-9999px);
  }
}

//    <div class="overflow-hidden" style="position: relative; height: 120px">
//      <img src="http://maquettes.garden.clever-age.net/img/200/000/fff" class="smash-stretch-super" alt="" />
//    </div>

// # _Debug_

&-debug {
  outline: 2px dotted $smash-debug;
}

//    <div class="smash-debug smash-mb">Lorem ipsum</div>

// # Cercles

//    <p>
//      <img src="http://maquettes.garden.clever-age.net/img/120/000/fff" alt="" class="smash-circle" />
//    </p>

&-circle {
  border-radius: 50%;
}

// # Rétablissement du flux

//    <p class="smash-float">lorem ipsum dolor</p>
//    <p class="smash-clear">lorem ipsum dolor</p>

&-clear {
  clear: both;

  &-left {
    clear: left;
  }

  &-right {
    clear: right;
  }
}

// # Visibilité

//    <p class="visibility-hidden">lorem ipsum dolor</p>
//    <p class="visibility-visible">lorem ipsum dolor</p>

&-visibility {
  &-hidden {
    visibility: hidden;
  }

  &-visible {
    visibility: visible;
  }
}
