// # Styles génériques

@at-root {

  $html-color: #000 !default;
  $html-bg:    #FFF !default;

// # Modèle de boîte

  @if $smash-box-sizing
  {
    * {
      &,
      &:before,
      &:after {
        box-sizing: border-box;
      }
    }
  }

// # Couleurs

// On force des couleurs de fond et de texte pour contourner les préférences utilisateurs.

  html {
    background-color: $html-bg;
    color: $html-color;
  }

// # États des liens

//  a {
//    &:hover,
//    &:focus {
//
//    }
//    &:visited {
//
//    }
//  }

// # Images (et médias)

// Par défaut les images de fonds ne sont pas répétées.

  * {
    &,
    &:before,
    &:after {
      background-repeat: no-repeat;
    }
  }

// Et les images de contenus sont forcées en `block`.

  img,
  audio,
  canvas,
  video,
  svg {
    display: block;
  }

// # Marges par défaut

  p,
  table,
  dl,
  ul,
  ol,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  hr,
  .#{$smash-prefix-framework}-table {
    margin-top: 0;
    margin-bottom: smash-size($smash-lh, null, $smash-fs0);
  }

// Note : pas de marge basse lors des imbrications.

  ul,
  ol,
  dl {
    ul,
    ol,
    dl {
      margin-bottom: 0;
    }
  }

// # Séparateur

// Le décalage sur le rythme vertical provoqué par la bordure est corrigé par la marge négative.
// Le décalage visuel provoqué par la marge négative est annulé par le positionnement.

  hr {
    clear: both;
    border: 0;
    border-top:  1px solid;
    margin-top: -1px;
    top:         1px;
    position: relative;
  }

// # _Resize_ sur les _textareas_

//    <p>
//    	<label for="textarea">
//    		<span class="block">Lorem ipsum dolor</span>
//    		<span class="block"><textarea id="textarea" name="textarea"></textarea></span>
//    	</label>
//    </p>

  textarea {
    resize: vertical;
    overflow: auto;
    min-height: smash-size($smash-lh * 2);
  }

// # _Reset_ sur les _fieldsets_

// http://thatemil.com/blog/2015/01/03/reset-your-fieldset/

//    <fieldset class="smash-reset">
//      <legend>Lorem</legend>
//      <p>Lorem ipsum dolor</p>
//    </fieldset>

  fieldset.#{$smash-prefix-framework}-reset {
    border:    0;
    margin:    0;
    min-width: 0;
    padding: 0.000001em 0 0;

    legend {
      padding: 0;
      display: table;
    }
// fx
//    body:not(:-moz-handler-blocked) & {
//    	display: table-cell;
//    }
  }

  @if $smash-box-sizing {
    input[type='search'] {
      box-sizing: border-box;
    }
  }

  [hidden] { // IE <= 10
    display: none;
  }

// # Tailles des textes

// Les tailles sont calées par défaut sur la double échelle typographique.

//    <p class="smash-h1">Lorem</p>
//    <p class="smash-h2">Lorem</p>
//    <p class="smash-h3">Lorem</p>
//    <p class="smash-h4">Lorem</p>
//    <p class="smash-h5">Lorem</p>
//    <p class="smash-h6">Lorem</p>
//    <p class="smash-bigger">Lorem</p>
//    <p class="smash-big">Lorem</p>
//    <p class="smash-body">Lorem</p>
//    <p class="smash-small">Lorem</p>
//    <p class="smash-smaller">Lorem</p>

// Des variables sont crées pour pouvoir être réutilisés plus facilement dans le projet.

  $smash-h1: smash-scale(8) !default;
  $smash-h2: smash-scale(7) !default;
  $smash-h3: smash-scale(6) !default;
  $smash-h4: smash-scale(5) !default;
  $smash-h5: smash-scale(4) !default;
  $smash-h6: smash-scale(3) !default;
  $smash-bigger: smash-scale(2) !default;
  $smash-big: smash-scale(1) !default;
  $smash-body: smash-scale(0) !default;
  $smash-small: smash-scale(-1) !default;
  $smash-smaller: smash-scale(-2) !default;

  h1,
  .#{$smash-prefix-framework}-h1 {
    @include smash-typo($smash-h1);
  }

  h2,
  .#{$smash-prefix-framework}-h2 {
    @include smash-typo($smash-h2);
  }

  h3,
  .#{$smash-prefix-framework}-h3 {
    @include smash-typo($smash-h3);
  }

  h4,
  .#{$smash-prefix-framework}-h4 {
    @include smash-typo($smash-h4);
  }

  h5,
  .#{$smash-prefix-framework}-h5 {
    @include smash-typo($smash-h5);
  }

  h6,
  .#{$smash-prefix-framework}-h6 {
    @include smash-typo($smash-h6);
  }

  .#{$smash-prefix-framework}-bigger {
    @include smash-typo($smash-bigger);
  }

  .#{$smash-prefix-framework}-big {
    @include smash-typo($smash-big);
  }

  body,
  .#{$smash-prefix-framework}-body {
    @include smash-typo($smash-body, $smash-bfs);
  }

  body {
    margin-bottom: 0;
  }

  .#{$smash-prefix-framework}-small {
    @include smash-typo($smash-small);
  }

  .#{$smash-prefix-framework}-smaller {
    @include smash-typo($smash-smaller);
  }

// # Pseudo-éléments

  [data-before] {
    &:before {
      content: attr(data-before);
    }
  }

  [data-after] {
    &:after {
      content: attr(data-after);
    }
  }

//    <div data-before="lorem " data-after=" dolor">ipsum</div>

}
