// # Tailles des textes

// Les tailles sont calées par défaut sur la double échelle typographique.

//  <p class="smash-h1">Lorem</p>
//  <p class="smash-h2">Lorem</p>
//  <p class="smash-h3">Lorem</p>
//  <p class="smash-h4">Lorem</p>
//  <p class="smash-h5">Lorem</p>
//  <p class="smash-h6">Lorem</p>
//  <p class="smash-bigger">Lorem</p>
//  <p class="smash-big">Lorem</p>
//  <p class="smash-body">Lorem</p>
//  <p class="smash-small">Lorem</p>
//  <p class="smash-smaller">Lorem</p>

@at-root {
  h1,
  .#{$smash-prefix-framework}-h1 {
    @include smash-typo($smash-h1);
  }

  h2,
  .#{$smash-prefix-framework}-h2 {
    @include smash-typo($smash-h2);
  }

  h3,
  .#{$smash-prefix-framework}-h3 {
    @include smash-typo($smash-h3);
  }

  h4,
  .#{$smash-prefix-framework}-h4 {
    @include smash-typo($smash-h4);
  }

  h5,
  .#{$smash-prefix-framework}-h5 {
    @include smash-typo($smash-h5);
  }

  h6,
  .#{$smash-prefix-framework}-h6 {
    @include smash-typo($smash-h6);
  }

  .#{$smash-prefix-framework}-bigger {
    @include smash-typo($smash-bigger);
  }

  .#{$smash-prefix-framework}-big {
    @include smash-typo($smash-big);
  }

  body,
  .#{$smash-prefix-framework}-body {
    @include smash-typo($smash-body, $smash-bfs);
  }

  body {
    margin-bottom: 0;
  }

  .#{$smash-prefix-framework}-small {
    @include smash-typo($smash-small);
  }

  .#{$smash-prefix-framework}-smaller {
    @include smash-typo($smash-smaller);
  }
}
