// # Démo : échelles typographiques

// [Voir le résultat](../demos/echelles.html).

// Une classe de démonstration aura les propriétés d’un titre de niveau 4.

&-size {
  @include smash-typo($smash-h4);
}

// # Imbrications

// On fixe un contexte, ici en fonction de la taille `$smash-big`.

&-size-1 {
  $smash-size-1: $smash-big;

  @include smash-typo($smash-size-1);

// Et il est alors possible d’en hériter, pour en préciser un second, impbriqué. (Cette fois en fonction de `$smash-body`.)

  .demo-size-2 {
    $smash-size-2: $smash-body;

    @include smash-typo($smash-size-2, null, $smash-size-1);
  }
}
