// # Démo : formulaires

// [Voir le résultat](../demos/formulaires.html).

// Tout se passe dans [form.scss](../docs/framework-utils-form.html).

// # Champs obligatoires

// L’information est a début du DOM, mais déportée visuellement.

&-mandatory {
  position: absolute;
  bottom: 0;
  right:  0;
}

// # _Textarea_ réduits

&-hauteur.demo-hauteur {
  min-height: calc(#{smash-size($smash-form-line-height)} *  1 + #{smash-size($smash-form-padding)} + #{smash-size($smash-form-padding)} + #{$smash-form-border-width} + #{$smash-form-border-width});
  height: calc(#{smash-size($smash-form-line-height)} *  1 + #{smash-size($smash-form-padding)} + #{smash-size($smash-form-padding)} + #{$smash-form-border-width} + #{$smash-form-border-width});
}

// # Espaces sur les lignes

&-line {
  padding-top: smash-size($smash-lh);
  padding-bottom: smash-size($smash-lh * 0.5);
  margin-bottom: smash-size($smash-lh);
}

// # Largeurs des colonnes

&_info {
  width: smash-grid-cols-width(3);
}

&_label {
  width: smash-grid-cols-width(2);
}
