// # Démo : grilles avec _flexbox_

// [Voir le résultat](../demos/grille-flexbox.html).

&-grid {
  &-flex {
    &-6 {

// On définit un nouveau contexte d’affichage pour la grille imbriquée.

      @include smash-grid-flex(6);
    }
  }
}
