// # Démo : _size_

// [Voir le résultat](../demos/size.html).

// La démonstration touche à la largeur des éléments, mais pourrait être faite avec n’importe quelle autre propriété de taille.

// # Sans la fonction

&-size-500px {
  width: 500px;
}

// # Avec la fonction

&-size-500px-pt {
  width: smash-size(500px, 'pt');
}

&-size-500px-px {
  width: smash-size(500px, 'px');
}

&-size-500px-rem {
  width: smash-size(500px, 'rem');
}

// En mode automatique sans passer le second paramètre.

&-size-500px-size {
  width: smash-size(500px);
}

// # Avec la fonction en % avec et sans héritage

&-size-500px-pourcent {
  width: smash-size(500px, 'pourcent');

  .smash-w-75p & {
    $demo-contexte: smash-grid-cols-width($smash-cols-desktop) * 75 / 100; // 75%

    width: smash-size(500px, 'pourcent', $demo-contexte);
  }
}

// # Avec la fonction en em avec et sans héritage

&-size-500px-em {
  width: smash-size(500px, 'em', $smash-body);

  .smash-bigger & {
    $demo-size: $smash-bigger;

    width: smash-size(500px, 'em', $demo-size);
  }
}
