// # Formulaires (WIP)

// Avantages :

//  - les champs sont alignés avec leurs labels ;
//  - le rythme vertical est respecté ;
//  - une bonne accessibilité est assurée avec le label englobant et la navigation clavier possible ;
//  - les select, les boutons radios et les checkbox peuvent être personnalisés ;
//  - les hauteurs de champs sont contrôlées ;
//  - il est possible d’ajouter facilement des icônes ;
//  - la structure dans les formulaires est modulaire ;
//  - les styles sont modifiables via des variables (dans config.scss).

// Limites des champs HTML5 :

// - sous IE9, le input range n’est pas skinné ;
// - le datalist apparait en version dégradée sous Safari et IE9.

// Limites du _framework_ :

//  - le gabarit n’est pas prévu pour fonctionner avec IE8- (structure en tableau, sélecteurs CSS, pseudo-éléments, calc()…) ;
//  - sous Chrome, certaines fonctionnalités des champs de type « date » seront masquées ;
//  - sous IE10- le clique sur l’icône du select n’ouvrira pas le sous-menu mais donnera le focus au champ ;
//  - l’input file est inconsistant et n'a pas la bonne hauteur sous Fx.

// # Styles

// Avec les styles :

// - par défaut ;

@mixin smash-form-skin {
  border-width: $smash-form-border-width;
  border-style: solid;
  border-color: $smash-form-border-color;
  border-radius: $smash-form-border-radius;
  padding: smash-size($smash-form-padding);
  transition: background-color 300ms, border-color 300ms;
  background-color: $smash-form-background;
  line-height: smash-size($smash-form-line-height);
  height: calc(#{smash-size($smash-form-line-height)} + #{smash-size($smash-form-padding)} + #{smash-size($smash-form-padding)} + #{$smash-form-border-width} + #{$smash-form-border-width});
  width: 100%;
  box-sizing: border-box !important;
  display: inline-block;
  vertical-align: baseline;
}

// - pour les états ;

@mixin smash-form-skin-hover {
  background-color: $smash-form-background-hover;
}

@mixin smash-form-skin-valid {
  border-color: $smash-form-color-valid;
}

@mixin smash-form-skin-focus {
  outline: 1px dotted $smash-form-color-focus !important;
}

@mixin smash-form-skin-invalid {
  border-color: $smash-form-color-error !important;
}

@mixin smash-form-skin-disabled {
  border-color: smash-lighten($smash-form-border-color, 50%);
  background-color: smash-lighten($smash-form-background, 50%);
  color: smash-lighten($smash-form-color, 50%);
}

@mixin smash-form-skin-button {
  display: inline-block;
  width: auto;
}

// - pour _textarea_ ;

@mixin smash-form-skin-textarea {
  min-height: calc(#{smash-size($smash-form-line-height)} *  3 + #{smash-size($smash-form-padding)} + #{smash-size($smash-form-padding)} + #{$smash-form-border-width} + #{$smash-form-border-width});
  height: calc(#{smash-size($smash-form-line-height)} *  3 + #{smash-size($smash-form-padding)} + #{smash-size($smash-form-padding)} + #{$smash-form-border-width} + #{$smash-form-border-width});
  max-height: calc(#{smash-size($smash-form-line-height)} * 10 + #{smash-size($smash-form-padding)} + #{smash-size($smash-form-padding)} + #{$smash-form-border-width} + #{$smash-form-border-width});

  display: block;
}

// - pour _checkbox_ et _ radio_ ;

@mixin smash-form-skin-checkbox {
  display: inline-block;
  border-style: solid;
  vertical-align: middle;
  background-color: $smash-form-background;
  border-width: $smash-form-border-width;
  border-color: $smash-form-border-color;
  width:  smash-size($smash-form-padding) + smash-size($smash-form-padding);
  height: smash-size($smash-form-padding) + smash-size($smash-form-padding);
  // border-radius: $smash-form-border-radius;
}

@mixin smash-form-skin-checkbox-checked {
  background-color: $smash-form-color;
  box-shadow: 0 0 0 $smash-form-inset-width inset;
  color: $smash-form-background;
}

@mixin smash-form-skin-checkbox-focus-checked {
  color: $smash-form-background-hover;
}

@mixin smash-form-skin-checkbox-disabled {
  background-color: smash-lighten($smash-form-color, 50%);
}

@mixin smash-form-skin-checkbox-disabled-checked {
  color: $smash-form-background;
}

@mixin smash-form-skin-radio {
  border-radius: 50%;
}

// - pour _select_ ;

@mixin smash-form-skin-select {
  -webkit-appearance: none;

  padding-right: smash-size($smash-form-padding) !important;
  height: calc(#{smash-size($smash-form-line-height)} + #{smash-size($smash-form-padding)} + #{smash-size($smash-form-padding)} + #{$smash-form-border-width} + #{$smash-form-border-width});

  ~ .#{$smash-prefix-framework}-form_deco {
    pointer-events: none;

    &:not([class^='fa-']) {
      &:not([class^='smash-form-deco fa-']) {
        &::before,
        &::after {

          width:  0;
          height: 0;
          border-style: solid;
          border-left-color:  transparent;
          border-right-color: transparent;
          content: '';
          position: absolute;
          left: 50%;
          top:  50%;

          border-width: smash-size($smash-form-arrow-width);
          margin-left: smash-size(-$smash-form-arrow-width);
          margin-top:  smash-size(-$smash-form-arrow-width - $smash-form-arrow-spacing);
          border-bottom-color: $smash-form-color;

          border-top-width: 0;
        }

        &::after {
          border-bottom-width: 0;

          border-top-width: smash-size($smash-form-arrow-width);
          border-top-color: $smash-form-color;
          margin-top: smash-size($smash-form-arrow-spacing);
        }
      }
    }
  }

  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 $smash-form-color !important;
  }
}

@mixin smash-form-skin-select-disabled {
  ~ .#{$smash-prefix-framework}-form_deco {
    &:not([class^='fa-']) {
      &:not([class^='smash-form-deco fa-']) {
        &::before {
          border-bottom-color: smash-lighten($smash-form-color, 50%);
        }

        &::after {
          border-top-color: smash-lighten($smash-form-color, 50%);
        }
      }
    }
  }
}

// - pour _range_ ;

@mixin smash-form-skin-range {
  -webkit-appearance: none;
  margin: smash-size($smash-form-padding) / 2 0;
  width: 100%;
  display: block;
  margin: 0;
}

@mixin smash-form-skin-range-focus {
  ~ .#{$smash-prefix-framework}-form_focus {
    outline: none !important;
  }
}

@mixin smash-form-skin-track {
  color:            transparent;
  background-color: transparent;
  width: 100%;
  height: $smash-form-border-width;
  background-color: $smash-form-color;
  border-radius: $smash-form-border-radius;
  border-width: 0;
}

@mixin smash-form-skin-thumb {
  border: $smash-form-border-width solid $smash-form-color;
  border-radius: $smash-form-border-radius;
  background-color: $smash-form-background;
  transition: background-color 300ms, border-color 300ms, color 300ms;
  width:  smash-size($smash-form-padding) * 2;
  height: smash-size($smash-form-padding) * 2;
}

@mixin smash-form-skin-thumb-webkit {
  -webkit-appearance: none;
  margin-top: calc(#{$smash-form-border-width} / 2 - #{smash-size($smash-form-padding)} * 2 / 2);
}

@mixin smash-form-skin-thumb-disabled {
  border-color: smash-lighten($smash-form-border-color, 50%);
  background-color: smash-lighten($smash-form-background, 50%);
}

@mixin smash-form-skin-fill {
  &-lower {
    background-color: $smash-form-color;
    border-radius: $smash-form-border-width / 2 0 0 $smash-form-border-width / 2;
  }

  &-upper {
    background-color: $smash-form-color;
    border-radius: 0 $smash-form-border-width / 2 $smash-form-border-width / 2 0;
  }
}

// - pour _datalist_ ;

@mixin smash-form-skin-datalist {
  padding-right: smash-size($smash-form-padding) !important;

  ~ .#{$smash-prefix-framework}-form_deco {
    pointer-events: none;
  }
}

// - pour _date_ (et assimilés) ;

@mixin smash-form-skin-date {
  -moz-appearance: textfield;
  -webkit-appearance: none;
  padding-right: smash-size($smash-form-padding) !important;
  display: block;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

// - pour _file_ ;

@mixin smash-form-skin-file {
  display: block;

  @at-root {
    _::-moz-range-track,
    body:last-child input[type=file] {
      height: auto; // fx
    }
  }
}

// - pour _color_ ;

@mixin smash-form-skin-color {
  height: calc(#{smash-size($smash-form-padding * 2)} + #{$smash-form-border-width * 2} + #{smash-size($smash-form-line-height)});
}

// - et pour _number_.

@mixin smash-form-skin-number {
  -moz-appearance: textfield;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@if $smash-lte-ie8 == false {
  &-form {
    position: relative;

// # Icônes

    &_icon,
    &_icon-left {
      padding-right: calc(#{smash-size($smash-form-ico-width)} + #{smash-size($smash-form-padding)} + #{$smash-form-border-width}) !important;

      ~ .#{$smash-prefix-framework}-form_deco {
        position: absolute;
        right:  $smash-form-border-width;
        top:    $smash-form-border-width;
        bottom: $smash-form-border-width;
        border-radius: 0 $smash-form-border-radius - $smash-form-border-width $smash-form-border-radius - $smash-form-border-width 0;
        background-color: $smash-form-background;
        z-index: 2;
        width: smash-size($smash-form-ico-width);
        color: $smash-form-color;

        &::before {
          -moz-osx-font-smoothing: grayscale;
          font-family: FontAwesome;
          font-feature-settings: normal;
          font-kerning: auto;
          font-language-override: normal;
          font-size: inherit;
          font-size-adjust: none;
          font-stretch: normal;
          font-style: normal;
          font-variant: normal;
          font-weight: normal;
          text-rendering: auto;
          transform: none;
          position: absolute;
          left:  0;
          right: 0;
          top:  50%;
          margin-top:  -1em;
          line-height:  2em;
          text-align: center;
          z-index: 1;
        }
      }

// Elles peuvent être positionnées à gauche.

      &-left {
        padding-left: calc(#{smash-size($smash-form-ico-width)} + #{smash-size($smash-form-padding)} + #{$smash-form-border-width}) !important;
        padding-right: smash-size($smash-form-padding) !important;

        ~ .#{$smash-prefix-framework}-form_deco {
          right: 0;
          left:  $smash-form-border-width;
          border-radius: $smash-form-border-radius - $smash-form-border-width 0 0 $smash-form-border-radius - $smash-form-border-width;
        }
      }
    }

// # Styles génériques

    &_deco {
      &,
      &::before,
      &::after {
        transition: background-color 300ms, border-color 300ms, color 300ms;
      }
    }

    &_focus {
      @include smash-stretch;
    }

// # Lignes

    &_line {
      display: block;
    }

// # Champs

    &_input {
      height: smash-size($smash-lh * 1.5);

// Avec les imbrications possibles.

      .smash-grid-inside {
        &:first-child {
          padding-left: 0;
        }

        &:last-child {
          padding-right: 0;
        }
      }

// Et les erreurs quand elles ne peuvent être gérées automatiquement par adjacence CSS.

      &-error {
        input,
        select,
        textarea {
          @include smash-form-skin-invalid;
        }
      }
    }

// # Alignement vertical des champs

    &_field {
      display: inline-block;
      width: 100%;
      position: relative;

      margin-top: smash-size($smash-form-padding * -2);

// Avec une exception pour les boutons radios et les cases à cocher.

      &-checkbox,
      &-radio {
        width: auto;
        line-height: 0;
      }
    }

// # Erreurs

    &_error {
      color: $smash-form-color-error;

      ~ * {
        input,
        select,
        textarea,
        button {
          @include smash-form-skin-invalid;
        }

        input[type=checkbox],
        input[type=radio] {
          ~ .#{$smash-prefix-framework}-form_deco {
            @include smash-form-skin-invalid;
          }
        }
      }
    }

    input,
    select,
    textarea,
    button {
      position: relative;
      z-index: 1;
      color: $smash-form-color;

      &:focus {
        outline: none;
      }

      &:invalid {
        box-shadow: none;
      }

      &:disabled {
        ~ .#{$smash-prefix-framework}-form_deco {
          @include smash-form-skin-disabled;
        }

        &:hover {
          ~ .#{$smash-prefix-framework}-form_deco {
            background-color: $smash-form-background !important;
          }
        }
      }
    }

// # Champs « rectangles »

    input[type=text],
    input[type=password],
    input[type=url],
    input[type=email],
    input[type=search],
    input[type=number],
    input[type=date],
    input[type=datetime],
    input[type=time],
    input[type=month],
    input[type=week],
    input[type=tel],
    input[type=color],
    input[type=range],
    input[type=file] {
      @include smash-form-skin;

// Avec leurs états :

// - au focus 

      &:focus {

        @include smash-form-skin-hover;

        ~ .#{$smash-prefix-framework}-form_focus {
          @include smash-form-skin-focus;
        }

        &,
        ~ .#{$smash-prefix-framework}-form_deco {
          @include smash-form-skin-hover;
        }

        ~ .#{$smash-prefix-framework}-form_focus {
          @include smash-form-skin-focus;
        }
      }

// - au survol ;

      &:hover {

        @include smash-form-skin-hover;

        &,
        ~ .#{$smash-prefix-framework}-form_deco {
          @include smash-form-skin-hover;
        }
      }

// - désactivés ;

      &:disabled {
        @include smash-form-skin-disabled;
      }

// - validés ;

      &:valid {
  //      @include smash-form-skin-valid;
      }

// - et invalidés.

      &:invalid {
  //      @include smash-form-skin-invalid;
      }
    }

// # Surcharges

// Pour :

// - _color_ ;

    input[type=color] {
      @include smash-form-skin-color;
    }

// - _range_ ;

    input[type=range] {
      @include smash-form-skin-range;

      &::-webkit-slider {
        &-runnable-track {
          @include smash-form-skin-track;
        }

        &-thumb {
          @include smash-form-skin-thumb;
          @include smash-form-skin-thumb-webkit;
        }
      }

      &::-moz-range {
        &-track {
          @include smash-form-skin-track;
        }

        &-thumb {
          @include smash-form-skin-thumb;
        }
      }

      &::-ms {
        &-track {
          @include smash-form-skin-track;
        }

        &-fill {
          @include smash-form-skin-fill;
        }

        &-thumb {
          @include smash-form-skin-thumb;
        }
      }

      &:focus {
        @include smash-form-skin-focus;
        @include smash-form-skin-range-focus;
      }

      &:disabled {
        &::-webkit-slider {
          &-runnable-track {
            @include smash-form-skin-checkbox-disabled;
          }

          &-thumb {
            @include smash-form-skin-thumb-disabled;
          }
        }

        &::-moz-range {
          &-track {
            @include smash-form-skin-checkbox-disabled;
          }

          &-thumb {
            @include smash-form-skin-thumb-disabled;
          }
        }

        &::-ms {
          &-fill-lower,
          &-fill-upper {
            @include smash-form-skin-checkbox-disabled;
          }

          &-thumb {
            @include smash-form-skin-thumb-disabled;
          }
        }
      }
    }

// - _number_ ;

    input[type=number] {
      @include smash-form-skin-number;
    }

// - _file_ ;

    input[type=file] {
      @include smash-form-skin-file;
    }

// - _date_ (et associés).

    input[type=date],
    input[type=time],
    input[type=datetime],
    input[type=month],
    input[type=week] {
      @include smash-form-skin-date;
    }

// # _select_

    select {
      @include smash-form-skin;
      @include smash-form-skin-select;

      &:focus {
        @include smash-form-skin-hover;

        ~ .#{$smash-prefix-framework}-form_deco {
          @include smash-form-skin-hover;
        }

        ~ .#{$smash-prefix-framework}-form_focus {
          @include smash-form-skin-focus;
        }
      }

      &:hover {
        &,
        ~ .#{$smash-prefix-framework}-form_deco {
          @include smash-form-skin-hover;
        }
      }

      &:disabled {
        @include smash-form-skin-disabled;
        @include smash-form-skin-select-disabled;
      }

      &:valid {
  //      @include smash-form-skin-valid;
      }

      &:invalid {
  //      @include smash-form-skin-invalid;
      }
    }

// # _datalist_

    input[list] {
      @include smash-form-skin-datalist;
    }

// # _radio_ et _checkbox_

    input[type=radio],
    input[type=checkbox] {
      ~ .#{$smash-prefix-framework}-form_deco {
        @include smash-form-skin-checkbox;
      }

      &:focus {
        ~ .#{$smash-prefix-framework}-form_deco {
          @include smash-form-skin-hover;
          @include smash-form-skin-focus;
        }
      }

      &:hover {
        ~ .#{$smash-prefix-framework}-form_deco {
          @include smash-form-skin-hover;
        }
      }

      &:checked {
        ~ .#{$smash-prefix-framework}-form_deco {
          @include smash-form-skin-checkbox-checked;
        }

        &:focus {
          ~ .#{$smash-prefix-framework}-form_deco {
            @include smash-form-skin-checkbox-focus-checked;
          }
        }

        &:hover {
          ~ .#{$smash-prefix-framework}-form_deco {
            @include smash-form-skin-checkbox-focus-checked;
          }
        }
      }

      &:disabled {
        ~ .#{$smash-prefix-framework}-form_deco {
          @include smash-form-skin-disabled;
        }

        &:checked {
          ~ .#{$smash-prefix-framework}-form_deco {
            @include smash-form-skin-checkbox-disabled;
            @include smash-form-skin-checkbox-disabled-checked;
          }
        }

        &:hover {
          ~ .#{$smash-prefix-framework}-form_deco {
            @include smash-form-skin-checkbox-disabled-checked;
          }
        }
      }
    }

    input[type=radio] {
      ~ .#{$smash-prefix-framework}-form_deco {
        @include smash-form-skin-radio;
      }
    }

// # _textarea_

    textarea {
      @include smash-form-skin;
      @include smash-form-skin-textarea;

      &:hover {
        @include smash-form-skin-hover;
      }

      &:focus {
        @include smash-form-skin-hover;

        ~ .#{$smash-prefix-framework}-form_focus {
          @include smash-form-skin-focus;
        }
      }

      &:disabled {
        @include smash-form-skin-disabled;
      }
    }

// # _button_

    button {
      @include smash-form-skin;
      @include smash-form-skin-button;

      &:focus {
        @include smash-form-skin-focus;
        @include smash-form-skin-hover;
      }

      &:hover {
        @include smash-form-skin-hover;
      }

      &:disabled {
        @include smash-form-skin-disabled;
      }
    }
  }
}
