// # Imports

@import '../../config';

// # Imports des librairies tierces

//_SassyLists_ est obligatoire pour la gestion des échelles typographiques.

@import 'SassyLists/dist/SassyLists';

// Les autres sont optionnelles mais conseillées :
//
//  - `normalize` pour l’uniformisation ;
//  - `sass-mq` pour le _responsive web design_ ;
//  - `bourbon` pour les utilitaires ;
//  - `compass` pour les _sprites_ ;
//  - `fontawesome` pour les icônes.

// Note : attention aux conflits possibles entre Bourbon et Compass.

@import 'modularized-normalize-scss/normalize';
@import 'sass-mq/mq';

 //@import 'fontawesome/scss/font-awesome';
 //@import 'compass/utilities/sprites';

//  # Imports des utilitaires

@import 'functions';
@import 'mixins';
@import 'scales';

//  # Imports des _plugins_

@import '../../project/plugins/hashgrid';

//  # Imports des utilitaires (préfixés)

// Il est possible de sortir de cette encapsulation avec `@at-root{}`.

.#{$smash-prefix-framework} {
  @import '../utils/a11y';
  @import '../utils/box';
  @import '../utils/cols';
  @import '../utils/flex';
  @import '../utils/grid';
  @import '../utils/links';
  @import '../utils/list';
  @import '../utils/media';
  @import '../utils/ratios';
  @import '../utils/table';
  @import '../utils/text';
  @import '../utils/utils';
}

//  # Imports des styles pour l’agencement général (préfixés)

.#{$smash-prefix-project} {
  @import '../../project/layout';
}

//  # Imports des composants (préfixés)

.#{$smash-prefix-project} {
  @import '../../project/components';
}

//  # Imports des pages (préfixés)

.#{$smash-prefix-project} {
  @import '../../project/pages';
}

// # Imports des thèmes (préfixés)

.#{$smash-prefix-project} {
  //@import '../../_project/themes';
}

// # Imports de l’espace temporaire de travail

@import '../../project/shame';
